##Lab 1 - Analyzing Facebook data

This notebook guides you through process of loading and analyzing real (but anonymized) Facebook data. The two goals for the notebook are to give you a better idea of the workflow for doing data analysis with Python and to introduce you to a "big data" type data source. In particular, we'll focus on networks because they go hand-in-hand with the big data movement. We aren't using your own live Facebook data because the new Facebook API (system for accessing their databases) much more aggressively limits what data we can get. Yay for privacy! Too bad for us big data nerds:(

In order to be able to use this notebook, you need the Facebook_Lab.py file and the data files, named #_friend_data.json and #_general_data.csv (where # is some number between 1 and 5). You should have got these files when you downloaded the folder this notebook is in. If you are getting import or file not found errors, make sure you have those files.
<br><br>

This is the structure of this session:
    1. Quick intro in the JSON file format
    2. Super quick Facebook refresher 
    3. Loading JSON formatted Facebook data
    4. Putting the data into a PANDAS dataframe
    5. Plotting networks
    6. Measuring networks

#### A few things about this notebook

* The module/package Facebook_Lab has functions that do a lot of behind the scenes processing. If you want to see the details, you should open up that file in a text editor or IDE.
    <br><br>
* There are occasionally snippets of code that are commented out with a hashtag (`#`) in front of them. Removing the hashtag and any extra spaces will make that code live as well. This is a convenient way to experiment with different options without having delete and rewrite lines of code all the time.
<br>
<br>

<br><br>
## Topic 1: the JSON format 

A common format for API data is the *JSON* (JavaScript Object Notation) format. A *JSON* formatted file is human-readable and ends with *.json*. At this point, the format's only meaningful connection to its namesake JavaScript is that it is built around the concept of *objects*, which is at the core of the object-oriented programming paradigm that Java popularized. This matters to us only in that thinking in terms of objects is helpful for a lot of Big Data.

Consider a tweet:
<blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Warriors vs. Cavs. &#10;Steph vs. LeBron. &#10;&#10;See you June 4th. <a href="http://t.co/3ZjzzU4lkW">pic.twitter.com/3ZjzzU4lkW</a></p>&mdash; NBA on ESPN (@ESPNNBA) <a href="https://twitter.com/ESPNNBA/status/603774381773434880">May 28, 2015</a></blockquote> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
![img](http://pbs.twimg.com/tweet_video_thumb/CGEJBySUgAAFhD3.png)

<br>
In our daily lives, we view a tweet as a (very) short piece of text but there is a lot more to a tweet. Below is the JSON representation for the same tweet. 
<br><br>

<code> {u'contributors': None,
  u'coordinates': None,
  u'created_at': u'Thu May 28 04:06:44 +0000 2015',
  u'entities': {u'hashtags': [],
   u'media': [{u'display_url': u'pic.twitter.com/3ZjzzU4lkW',
     u'expanded_url': u'http://twitter.com/ESPNNBA/status/603774381773434880/photo/1',
     u'id': 603773751327490048,
     u'id_str': u'603773751327490048',
     u'indices': [58, 80],
     u'media_url': u'http://pbs.twimg.com/tweet_video_thumb/CGEJBySUgAAFhD3.png',
     u'media_url_https': u'https://pbs.twimg.com/tweet_video_thumb/CGEJBySUgAAFhD3.png',
     u'sizes': {u'large': {u'h': 512, u'resize': u'fit', u'w': 1024},
      u'medium': {u'h': 300, u'resize': u'fit', u'w': 600},
      u'small': {u'h': 170, u'resize': u'fit', u'w': 340},
      u'thumb': {u'h': 150, u'resize': u'crop', u'w': 150}},
     u'type': u'photo',
     u'url': u'http://t.co/3ZjzzU4lkW'}],
   u'symbols': [],
   u'urls': [],
   u'user_mentions': []},
  u'extended_entities': {u'media': [{u'display_url': u'pic.twitter.com/3ZjzzU4lkW',
     u'expanded_url': u'http://twitter.com/ESPNNBA/status/603774381773434880/photo/1',
     u'id': 603773751327490048,
     u'id_str': u'603773751327490048',
     u'indices': [58, 80],
     u'media_url': u'http://pbs.twimg.com/tweet_video_thumb/CGEJBySUgAAFhD3.png',
     u'media_url_https': u'https://pbs.twimg.com/tweet_video_thumb/CGEJBySUgAAFhD3.png',
     u'sizes': {u'large': {u'h': 512, u'resize': u'fit', u'w': 1024},
      u'medium': {u'h': 300, u'resize': u'fit', u'w': 600},
      u'small': {u'h': 170, u'resize': u'fit', u'w': 340},
      u'thumb': {u'h': 150, u'resize': u'crop', u'w': 150}},
     u'type': u'animated_gif',
     u'url': u'http://t.co/3ZjzzU4lkW',
     u'video_info': {u'aspect_ratio': [2, 1],
      u'variants': [{u'bitrate': 0,
        u'content_type': u'video/mp4',
        u'url': u'https://pbs.twimg.com/tweet_video/CGEJBySUgAAFhD3.mp4'}]}}]},
  u'favorite_count': 5088,
  u'favorited': False,
  u'geo': None,
  u'id': 603774381773434880,
  u'id_str': u'603774381773434880',
  u'in_reply_to_screen_name': None,
  u'in_reply_to_status_id': None,
  u'in_reply_to_status_id_str': None,
  u'in_reply_to_user_id': None,
  u'in_reply_to_user_id_str': None,
  u'lang': u'en',
  u'place': None,
  u'possibly_sensitive': False,
  u'retweet_count': 5705,
  u'retweeted': False,
  u'source': u'<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>',
  u'text': u'Warriors vs. Cavs. \nSteph vs. LeBron. \n\nSee you June 4th. http://t.co/3ZjzzU4lkW',
  u'truncated': False,
  u'user': {u'contributors_enabled': False,
   u'created_at': u'Tue Sep 15 18:37:13 +0000 2009',
   u'default_profile': False,
   u'default_profile_image': False,
   u'description': u'Official Twitter account of the NBA on ESPN, home of the NBA Draft and the NBA Finals.',
   u'entities': {u'description': {u'urls': []},
    u'url': {u'urls': [{u'display_url': u'espn.go.com/nba/',
       u'expanded_url': u'http://espn.go.com/nba/',
       u'indices': [0, 22],
       u'url': u'http://t.co/zIeRt15zFT'}]}},
   u'favourites_count': 148,
   u'follow_request_sent': False,
   u'followers_count': 1503118,
   u'following': False,
   u'friends_count': 736,
   u'geo_enabled': False,
   u'id': 74518740,
   u'id_str': u'74518740',
   u'is_translation_enabled': False,
   u'is_translator': False,
   u'lang': u'en',
   u'listed_count': 10181,
   u'location': u'ESPN',
   u'name': u'NBA on ESPN',
   u'notifications': False,
   u'profile_background_color': u'A15E00',
   u'profile_background_image_url': u'http://pbs.twimg.com/profile_background_images/47166024/NBA_bg.jpg',
   u'profile_background_image_url_https': u'https://pbs.twimg.com/profile_background_images/47166024/NBA_bg.jpg',
   u'profile_background_tile': True,
   u'profile_banner_url': u'https://pbs.twimg.com/profile_banners/74518740/1429300276',
   u'profile_image_url': u'http://pbs.twimg.com/profile_images/586012188302708736/B6IMM6eu_normal.jpg',
   u'profile_image_url_https': u'https://pbs.twimg.com/profile_images/586012188302708736/B6IMM6eu_normal.jpg',
   u'profile_link_color': u'0000FF',
   u'profile_sidebar_border_color': u'EEEEEE',
   u'profile_sidebar_fill_color': u'E6EDF2',
   u'profile_text_color': u'333333',
   u'profile_use_background_image': True,
   u'protected': False,
   u'screen_name': u'ESPNNBA',
   u'statuses_count': 45836,
   u'time_zone': u'Quito',
   u'url': u'http://t.co/zIeRt15zFT',
   u'utc_offset': -18000,
   u'verified': True}}</code>
<br><br>

As you can see, whatever a Tweet is, it is complex thing. (Can you even find the text of the tweet that actually shows up on your tweetbox?) What is clear is it exists in a set of relationships. And if there are relationships, there must be things being related. So let's just call those things *objects* to be stay generic as possible. 

In object-oriented programming (OO), objects are a collection of *fields* (or attributes) and *methods*, procedures to modify the fields. The essense of an *OO* program is the design of the objects and manipulation of them via methods. (OK, and a bunch of stuff we won't get into.) To do something with objects, we need to know a lot about them, but if we are just moving them around as we are when collecting data, we just need the names of the fields and their contents. So we need a file format that can keep track of attributes of objects.

Maybe just a standard spreadsheet (.csv, .xls) you're probably intimately familiar with could work? A row for each observation can work fine for keeping track of an observation and its attributes, but what if an attribute is a reference to something other than another observation of the same type? That is, to another type of object? There is a good chance we'll want to know more about those other objects so we want it's attributes too. Unfortunately, a spreadsheet isn't very convenient for transporting that type of information. The JSON format can help us address this problem and that's why lots of data rich APIs use them.

Going back the tweet above, you can see that this record of a single tweet contains references to lots of other objects, each with it's own attributes. They are indented and encased in curly brackets {}. Examples are the posting user, "entities", and urls.

It's having this type of data that makes big data interesting\* to social scientists IMAO. These data offer a 
chance to understand the rich, relational context of the observations. We can track them through time better too. I 

\*Unless you just want a [large N sample to ensure significant (i.e. publishable) p-values](https://www.youtube.com/watch?v=0pQ3AQ8olEo) (see [Granger 1998](http://onlinelibrary.wiley.com/doi/10.1111/1467-9574.00084/abstract)). 

<br>

If you continue doing big data research, you'll encounter other formats, but JSON is a good starting point. You'll have a chance to collect live Twitter data soon, but to first get you more familiar with Python and the general workflow, we'll start with some limited, but real Facebook data.

<br><br>
###Topic 2: Facebook data

Facebook is a great big data source because it has a diverse user base and a variety of data types. Two months ago it was a fantastic resource for some introspective research about the shape and composition of your network, but they just changed the privacy settings of the API so that we can't get the data. Even the very cool Wolfram Alpha tool has [been shut down](http://company.wolfram.com/news/2015/wolframalpha-personal-analytics-for-facebook-last-chance-to-analyze-your-friend-network/).

<br>

Today we'll use some networks I saved (and anonymized) in order to practice loading JSON formatted data into a Pandas data structure so that we can run queries and produce results.
The Facebook Restful API responds with JSON formatted data and I've cleaned the data up and stored them .json files. 

This is what a single entry looks like:

<code>{
 "gender": "female", 
 "id": 15, 
 "name": "RM",
 "mutuals": "[8, 29, 66, 75, 100, 139, 155, 160, 194, 218, 286, 299, 322]",
 "known from": 4
}</code>

A typical JSON file will have lots of entries seperated by commas. If you want to see one, open up the file <code>1_data.json</code> in a text editor.


Now let's go through this entry and explain the fields:

- gender: The user specified gender. The possible values are male, female, or None (because Facebook doesn't require you to provide one.
- id: A unique number identifying the user. 1 is saved for the user whose network we are looking at (called the ego in network science).
- name: The initials of the user.
- mutuals: The list of IDs for the friends this user has in common with the Ego (i.e. mutual friends).
- known from: A categorical variable identifying where the Ego knows this user from

This is only a sliver of the data fields Facebook used to provide (plus a custom variable [known from]), but we can do a lot with these once we have a bunch of them into Python's memory. Let's do that now.

<br>
<br>
##Topic 3: Loading the Facebook data

To get entries into memory, we'll use a very convenient Python module called <code>json</code>. Let's import it on the next line.

In [40]:
import json

<code>json</code> can encode Python data structures into JSON formatted text and visa versa. To do this file writing and reading, it makes use of Python's standard file I/O (input/output) tools. The next line uses the I/O function <code>open()</code> to open the given file in the read mode. This is because we used the "r" argument. If we want to be able to write, we'd use "w" to (over)write a new file or "a" to append to the end of an existing file.

In [174]:
reader = open("1_data.json", "r")

We now have a reader (which I've named <code>reader</code>) attached to the file. The reader has functions (e.g. <code>reader.read()</code> and <code>reader.readline()</code>) that lets us read what is in the file. We don't use them here; instead we just pass the whole reader to the <code>json</code> module and it calls them as it. We let <code>json</code> read in the whole file on the next line.

In [175]:
our_data = json.load(reader)

Let's see what json did with the data by asking the type of object <code>our_data</code> is.

In [55]:
print type(our_data)

<type 'dict'>

Great! You know what we can do with a Python dictionary. Let's look at what keys are in the dictionary.

In [59]:
our_data.keys()

[u'users']

In [61]:
print type(our_data['users'])

<type 'list'>

Well, it's pretty boring. That's because our .json file must have only one kind of object in it. Let's see what's in the list.

In [56]:
our_data["users"][0]

{u'gender': u'female',
 u'id': 1,
 u'known from': -1,
 u'mutuals': u'[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353]',
 u'name': u'RN'}

In [52]:
our_data["users"][-2:]

[{u'gender': u'female',
  u'id': 352,
  u'known from': 1,
  u'mutuals': u'[2, 5, 6, 16, 30, 49, 52, 64, 70, 73, 78, 82, 95, 133, 136, 150, 155, 200, 209, 216, 217, 232, 237, 244, 245, 249, 271, 275]',
  u'name': u'RC'},
 {u'gender': u'male',
  u'id': 353,
  u'known from': 7,
  u'mutuals': u'[2, 5, 6, 16, 30, 49, 52, 64, 70, 73, 78, 82, 95, 133, 136, 150, 155, 200, 209, 216, 217, 232, 237, 244, 245, 249, 271, 275]',
  u'name': u'CA'}]

How many items are in this list?

In [47]:
len(our_data["users"])

353

And what data type is are the elements in the list? Just grab one and check.

In [62]:
print type(our_data["users"][0])

<type 'dict'>

OK, so the <code>json.load()</code> method has given use a dictionary with a list of dictionaries inside of it. (Python is great at nesting data types like this.) An item in the list is a dictionary of attribute/value combinations for each object in the file. The use of a dictionary makes sense because it corresponds closely to the structure of the JSON format. But what to do with this list of dictionaries?

<br>
<br>

## Topic 4: Moving data into a Pandas dataframe

We now have our data into the computer's memory where we can analyse it. We could leave it in the list called <code>our_data</code> for our analyses but these Python types weren't designed for a lot of the manipulations and queries we could imagine running. Instead, we'll make use of Pandas, a Python module for data analysis. It features some easy I/O functions so it can serve as a makeshift database for smaller projects. Let get started with it.

In [76]:
import pandas as pd

The core tools of Pandas are two data structure objects called <code>Series</code> and <code>Dataframe</code>. These let us package up data that is already in Python objects in something that allows us to do analysis directly. Details [can be found here](http://http://pandas.pydata.org/), but for now we'll focus on just on what's necessary to construct a Dataframe.

A DataFrame is designed to be populated all at once. You can append DataFrames together easily when you need to add data to an existing DataFrame, but single observations are generally not loaded directly into the DataFrames.

When we are creating a new dataframe, we can provide a list that specifies the data elements (attributes) for the yet-empty dataframe. But we don't have to do that from the get-go! We could just start loading in data, adding the appropriate indices as we go, but because we know what attributes our data have, we'll create a dataframe with an column header.

In [90]:
attribute_names = ["id", "gender", "name", "known from", "mutuals"]
our_df = pd.DataFrame(columns=attribute_names)

We can see the "shape" of our dataframe by looking at its shape field. It should have 0 rows and 5 columns because we've only supplied the header. (Pandas seems to be pretty agnostic about how we orient the data, but we'll stick with the traditional rows-as-observations orientation for now.)

In [82]:
our_df.shape

(0, 5)

Pandas has some nice tools for very quickly parsing data from csv and json into a DataFrame, but because you all are likely to have ongoing or Python-based data collection, we'll build our DataFrame step-by-step. Let's look at what we have so far by running the next line.

In [91]:
our_df

Empty DataFrame
Columns: [id, gender, name, known from, mutuals]
Index: []

These next three cells show you what the basic task is. We create Series objects for each observation (user) and

In [100]:
series1 = pd.Series([1,1,1,1,1], index=["id", "gender", "name", "known from", "mutuals"], name=1)
series2 = pd.Series([2,2,2,2,2], index=["id", "gender", "name", "known from", "mutuals"], name=2)

In [106]:
list_of_observations = [series1, series2]

In [107]:
our_df.append(list_of_observations)

   id  gender  name  known from  mutuals
1   1       1     1           1        1
2   2       2     2           2        2

OK, that was easy enough. So now we need to figure out how to get our JSON data into series. It turns out, that isn't too hard. Because the observation is in a dictionary, we can use the <code>keys()</code> and <code>values()</code> methods to get the basis information. Note that each of those methods returns a list that can be given to the Series constructor.

In [114]:
our_data['users'][0].keys()

[u'mutuals', u'gender', u'known from', u'id', u'name']

In [113]:
our_data['users'][0].values()

[u'[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353]',
 u'female',
 -1,
 1,
 u'RN']

In [115]:
example_series = pd.Series(our_data['users'][0].values(), index=our_data['users'][0].keys())

In [149]:
our_df = our_df.append([example_series])

In [150]:
our_df

,id,gender,name,known from,mutuals
1,1,female,RN,-1,"[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 1..."
2,2,female,IS,1,"[4, 5, 6, 10, 16, 20, 30, 31, 49, 52, 55, 64, ..."
3,3,NaN,MC,4,"[4, 126, 147, 176, 221, 262, 263, 302]"
4,4,female,RD,3,"[2, 3, 5, 59, 73, 126, 150, 176, 255, 263]"
5,5,female,SG,3,"[2, 4, 6, 30, 31, 36, 37, 38, 49, 55, 63, 64, ..."
6,6,female,JT,1,"[2, 5, 16, 30, 31, 37, 38, 49, 52, 63, 64, 66,..."
7,7,male,AP,3,"[78, 230, 281, 303]"
8,8,female,KB,1,"[15, 31, 75, 93, 139, 160, 238, 242, 245, 322]"
9,9,male,NK,6,"[17, 233]"
10,10,female,IP,3,"[2, 16, 29, 30, 55, 70, 249, 271, 282, 303, 342]"
11,11,male,DP,4,"[123, 162]"
12,12,male,EG,4,[]
13,13,male,ZM,1,"[14, 33, 40, 42, 71, 83, 84, 85, 92, 101, 102,..."
14,14,male,MP,4,"[13, 26, 61, 84, 106, 164, 203, 213, 267, 307]"
15,15,female,RM,4,"[8, 29, 66, 75, 100, 139, 155, 160, 194, 218, ..."
16,16,female,JR,4,"[2, 6, 10, 30, 49, 52, 63, 64, 66, 70, 73, 77,..."
17,17,female,LG,4,"[9, 18, 23, 29, 30, 58, 69, 119, 195, 233, 238]"
18,18,male,WJ,6,"[17, 69]"
19,19,female,SW,7,[]
20,20,female,SH,4,[]
21,21,female,JK,4,"[17, 27]"
22,22,female,CM,4,"[34, 39, 41, 153]"
23,23,female,LM,4,"[71, 116, 135, 189, 262, 336, 347]"
24,24,male,JF,6,"[14, 40, 105, 106, 119, 164, 173, 267]"
25,25,female,JS,4,"[20, 21, 23, 79, 104, 105, 119, 199]"
26,26,NaN,DZ,4,[]
27,27,female,MR,4,"[10, 15, 17, 30, 69]"
28,28,female,AS,4,"[2, 5, 6, 10, 16, 17, 29, 31, 49, 54, 55, 65, ..."
29,29,male,JG,6,"[2, 5, 6, 8, 30, 37, 49, 63, 64, 66, 67, 70, 7..."
30,30,female,TB,1,"[51, 53, 57, 100, 139, 141, 145, 160, 186, 191..."
...,...,...,...,...,...
325,325,male,JR,1,"[25, 114, 189, 212, 247, 268, 288, 295, 336, 337]"
326,326,female,VO,1,"[2, 6, 30, 54, 55, 65, 95, 181, 237, 238, 257,..."
327,327,male,EM,1,"[294, 300, 310]"
328,328,male,AS,7,"[37, 44, 49, 52, 70, 73, 126, 140, 147, 150, 1..."
329,329,male,GM,1,"[248, 280, 310, 319]"
330,330,male,EN,1,"[5, 36, 37, 38, 55, 67, 76, 126, 132, 134, 147..."
331,331,male,IS,7,"[87, 91, 146, 183, 253, 260, 311, 312, 313, 338]"
332,332,female,NS,6,"[2, 5, 6, 16, 30, 49, 52, 64, 70, 73, 78, 82, ..."
333,333,female,LK,4,"[2, 5, 6, 16, 30, 49, 52, 64, 70, 73, 78, 82, ..."
334,334,male,MR,1,"[2, 5, 6, 16, 30, 49, 52, 64, 70, 73, 78, 82, ..."
335,335,male,WR,7,"[2, 5, 6, 16, 30, 49, 52, 64, 70, 73, 78, 82, ..."
336,336,male,GB,6,"[2, 5, 6, 16, 30, 49, 52, 64, 70, 73, 78, 82, ..."
337,337,NaN,PM,4,"[2, 5, 6, 16, 30, 49, 52, 64, 70, 73, 78, 82, ..."
338,338,female,BB,7,"[2, 5, 6, 16, 30, 49, 52, 64, 70, 73, 78, 82, ..."
339,339,female,SB,6,"[2, 5, 6, 16, 30, 49, 52, 64, 70, 73, 78, 82, ..."
340,340,male,BP,6,"[2, 5, 6, 16, 30, 49, 52, 64, 70, 73, 78, 82, ..."
341,341,female,JL,4,"[2, 5, 6, 16, 30, 49, 52, 64, 70, 73, 78, 82, ..."
342,342,female,TW,1,"[2, 5, 6, 16, 30, 49, 52, 64, 70, 73, 78, 82, ..."
343,343,female,MH,1,"[2, 5, 6, 16, 30, 49, 52, 64, 70, 73, 78, 82, ..."
344,344,male,MB,6,"[2, 5, 6, 16, 30, 49, 52, 64, 70, 73, 78, 82, ..."
345,345,female,GD,4,"[2, 5, 6, 16, 30, 49, 52, 64, 70, 73, 78, 82, ..."
346,346,female,MB,4,"[2, 5, 6, 16, 30, 49, 52, 64, 70, 73, 78, 82, ..."
347,347,female,KH,4,"[2, 5, 6, 16, 30, 49, 52, 64, 70, 73, 78, 82, ..."
348,348,male,ED,1,"[2, 5, 6, 16, 30, 49, 52, 64, 70, 73, 78, 82, ..."
349,349,female,CL,6,"[2, 5, 6, 16, 30, 49, 52, 64, 70, 73, 78, 82, ..."
350,350,female,YP,4,"[2, 5, 6, 16, 30, 49, 52, 64, 70, 73, 78, 82, ..."
351,351,female,CA,7,"[2, 5, 6, 16, 30, 49, 52, 64, 70, 73, 78, 82, ..."
352,352,female,RC,1,"[2, 5, 6, 16, 30, 49, 52, 64, 70, 73, 78, 82, ..."
353,353,male,CA,7,"[2, 5, 6, 16, 30, 49, 52, 64, 70, 73, 78, 82, ..."
0,1,female,RN,-1,"[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 1..."

That wasn't bad at all! Now let's do some looping to read all the observations into a list of Series that we can load into the DataFrame.

In [176]:
our_df = pd.DataFrame(columns=attribute_names)
all_observations = [] #an empty list
for user in our_data['users']:
    a_series = pd.Series(user.values(), index=user.keys(), name=user['id'])
    all_observations.append(a_series)

In [177]:
our_df = our_df.append(all_observations)

In [179]:
our_df["mutuals"][4]

u'[2, 3, 5, 59, 73, 126, 150, 176, 255, 263]'

## Topic 5: Plotting the network

Because this lesson is getting to long and because we'd have to do some more technical things, we're going to load the data another way and skip forward to plotting the network(s).

Run the lines below to load into memory a Facebook network.

In [1]:
import Facebook_Lab as fb
graph = fb.FBgraph()
graph.load_data(file_name="1")

IOError: [Errno 2] No such file or directory: './data1_general_data.csv'

<br>
<p><font size=4>Viewing the network</font></p>
<p>Now that the data are loaded, we can take a look at the network with the <i>draw_network( )</i> command.</p>

In [4]:
graph.draw_network()

<p>This command produced a data file that can be seen by going to the Social Dynamics folder and opening up the file named "JSON_network.html" This page contains a script that runs an algorithm that visualizes the data dynamically.

<p>It might look like some nodes are farther away from you than others, but that is not the case because they all have a tie to you. Rather, an algorithm is moving everyone around to group people together. 

The algorithm is a physics simulator running in the browser window so that you can move nodes around and inspect elements.</p>
<p> At first the nodes and links will be flying around space in a crazy way, but "gravity" and other forces will eventually get it to settle down. At that point you can do the following things:</p>

- Click and drag to fix a node's position.
- Hover over nodes and ties to see names and friend counts.
- Double click on nodes to "unstick" them.
- Stop/start the algorithm with the buttons in the top left corner.

This plotter can render tie weights visually and color strong ties blue if you have defined those attributes for all nodes. To get them to render, set arguments *strong* or *weight* equal to true as shown in the commented out code below.

The chief benefit of this graphing method is that it allows you to literally pull the network a part to better see structure. For large networks the display and responses will probably be choppy at the beginning but as the physical forces "cool" over time, the structure will stablize and graphics will catch up. You can also plot the network without you node using the argument *withme=False*. **This version of the network is much clearer and your processer might probably have an easier time with it. I highly recommend experimenting with this option.**

In [ ]:
#graph.draw_network()
#graph.draw_network(strong=True, weight=True)
graph.draw_network(withme=False)

##Topic 6: Analyzing the network

We can use some builtin commands to do some basic measurements on the network

- You can look at the clustering coefficients for nodes using the *clustering( )* command. The command takes a *group* argument that returns clustering coefficients for just the specified group from your social contexts list (the number, not the name). Without the group argument it returns the whole network.

In [ ]:
graph.clustering() #whole network
#graph.get_average_clustering(graph.clustering())
#graph.clustering(1) #just group one

In [ ]:
#graph.count_components() #the number of components in the graph
graph.count_components(withme=False )

In [ ]:
#graph.diameter()
graph.diameter(withme=False)

In [ ]:
graph.degree(graph.name_to_id("#a_name"))

In [ ]:
graph.degree_centrality()
#graph.degree_centrality(withme=False)

In [ ]:
graph.closeness_centrality()
#graph.closeness_centrality(withme=False)

In [ ]:
graph.betweenness_centrality()
#graph.betweenness_centrality(withme=False)#

In [ ]:
graph.eigenvector_centrality(iterations=500,withme=False) # may fail with too few iterations

In [ ]:
d = graph.associativity_by_attribute("gender") #any attribute you have coded for will work here

In [ ]:
d = graph.clustering_by_attribute("gender") # any attribute you have coded for will work here

In [ ]:
d = graph.clustering_by_attribute_summary("gender") #summary means average